# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~
.DS_Store

# Local Configuration
.env
data/
docker/data/

# Logs
logs/
*.log
