<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%-5level}) %clr([%thread]){magenta} %clr(%-40.40logger{39}){cyan} %clr(- [Corr: %X{correlationId:-none}] -){yellow} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Project Specific Log levels -->
    <logger name="com.pulsestream" level="DEBUG"/>
    <logger name="org.springframework.kafka" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
</configuration>
